# Environment & Secrets
.env
*.env
backend/.env

# Python Cache & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# System / OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.pdf
